body {
  margin: 0;
}

#gjs {
  border: 3px solid #444;
  margin: 0 auto;
}

.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 300px;
}

.editor-canvas {
  flex-grow: 1;
}

/* -------------------------------------------------------------------------- */
/*                                 layers css                                 */
/* -------------------------------------------------------------------------- */

.panel__right  {
  flex-basis: 280px;
  position: relative;
  overflow-y: auto;
}
